.App {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 120px;
}

.lists-section > *:not(:last-child) {
  margin-right: 100px;
}

.inbox-bar {
  display: flex;
}

.lists-section {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logout-button {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 120px;
  background: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  padding: 5px 10px;
  box-shadow: 0px 1px 1px 1px #d0d0d0;
}

.login-button {
  cursor: pointer;
  background: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0px 1px 1px 1px #d0d0d0;
}

@media (max-width: 1200px) {
  .lists-section {
    flex-direction: column;
    width: 400px;
  }

  .lists-section > * {
    margin-right: 0;
    margin-bottom: 100px;
  }

  .logout-button {
    right: 80px;
  }
}

@media (max-width: 1000px) {
  .logout-button {
    top: 95px;
    right: 40px;
  }
}
