.App {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 120px;
}

.lists-section > *:not(:last-child) {
  margin-right: 100px;
}

.inbox-bar {
  display: flex;
}

.lists-section {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logout-button {
  position: absolute;
  top: 18px;
  right: 32px;
}
