.folder-heading {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.folder-heading > * {
  margin: 0;
}

.folder-heading > *:not(:last-child) {
  margin-right: 20px;
}

.folder-group {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(-2px);
}

.folder-icon {
  font-size: 44px;
  position: absolute;
  top: 0;
  left: 0;
}

.folder-count {
  font-size: 24px;
  color: #fff;
  transform: translate(-3px, 4px);
}
