.inbox-count {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  margin-right: 15px;
  text-align: center;
  box-shadow: 0 1px 1px 1px #d0d0d0;
}

.inbox-count.stale {
  background: #b33;
  color: #fff;
}

.inbox-count:hover {
  cursor: pointer;
}

.counter {
  font-size: 32px;
}

.process {
  font-size: 20px;
}

.process > svg {
  transform: translate(2px, 1px);
}
