.processing-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.processing-modal {
  position: absolute;
  z-index: 1;
  background: #fff;
  box-shadow: 0px 1px 1px 1px #d0d0d0;
  border-radius: 4px;
  height: 50%;
  width: 50%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.title-input {
  padding: 5px 10px;
  background: #fff;
  border: none;
  border-right: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  box-shadow: inset 2px 2px 2px #d0d0d0;
  border-radius: 4px;
  margin-top: 30px;
  font-size: 32px;
}

.desc-input {
  padding: 10px;
  background: #fff;
  border: none;
  border-right: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  box-shadow: inset 2px 2px 2px #d0d0d0;
  border-radius: 4px;
  margin-top: 30px;
}

.trash-icon {
  position: absolute;
  bottom: 15px;
  font-size: 32px;
  cursor: pointer;
}

.priority-group {
  position: absolute;
  bottom: 60px;
  right: 30px;
  display: flex;
  align-items: center;
}

.priority-group > *:not(:last-child) {
  margin-right: 10px;
}

.priority-checkbox {
  height: 20px;
  width: 20px;
}

.save-icon {
  position: absolute;
  bottom: 13px;
  right: 30px;
  font-size: 32px;
  cursor: pointer;
}
.someday-icon {
  position: absolute;
  bottom: 12px;
  right: 90px;
  font-size: 32px;
  cursor: pointer;
}
