.task-card {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 0 20px;
  margin-bottom: 15px;
  position: relative;
  background: #fff;
  box-shadow: 0px 1px 1px 1px #d0d0d0;
}

.task-card > h3 {
  border-radius: 5%;
}

.task-card:hover {
  cursor: pointer;
}

.high-priority {
  position: absolute;
  top: 10px;
  right: 10px;
}
