.task-card {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 0 20px;
  margin-bottom: 15px;
  position: relative;
  background: #fff;
  line-height: 1.5;
  box-shadow: 0px 1px 1px 1px #d0d0d0;
}

.task-card > h3 {
  margin: 15px 0;
  border-radius: 5%;
}

.task-card:hover {
  cursor: pointer;
}

.high-priority {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #b33;
}

.task-notes {
  position: absolute;
  font-size: 12px;
  top: 36px;
  right: 6px;
}
