.tasks-list {
  width: 400px;
}

.tasks-heading {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.task-list-sort {
  cursor: pointer;
  /* margin-left: 135px; */
  font-size: 28px;
}
