.updating-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.updating-modal {
  position: absolute;
  z-index: 1;
  background: #fff;
  border: 2px solid #000;
  height: 50%;
  width: 50%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.title-input {
  padding-left: 5px;
  background: #fff;
  border: 2px solid #000;
  margin-top: 30px;
  font-size: 32px;
}

.desc-input {
  padding: 5px;
  background: #fff;
  border: 2px solid #000;
  margin-top: 30px;
}

.trash-icon {
  position: absolute;
  bottom: 15px;
  font-size: 32px;
  cursor: pointer;
}
